body {
  font-family: "Montserrat", sans-serif;
}

.container-fluid{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("/assets/images/main_bg.png");
}

.landing{
  height: 100vh;
}
.navbar .navItem {
  background-color: rgba(255, 255, 255,0);
  font-size: 22px;
  padding: 10px;
}
.navbar .home {
  background-color: rgb(75, 75, 75);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  max-width: fit-content;
  padding-right: 30px;
  padding-left: 75px;
}
.navbar .home a:hover {
  font-weight: bolder;
  color: rgb(81, 225, 199);
}
.navbar .home a {
  font-weight: bolder;
  color: rgb(70, 178, 158);
  text-decoration: none;
}

.navbar .subnav .p-2 {
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
}
.subnav a {
  color: rgb(98, 176, 165);
  padding: 10px;
  text-decoration: none;
}
.subnav a:hover {
  padding: 10px;
  background-color: rgb(75, 75, 75);
  border-radius: 50px;
  color: white;
}
#hi {
  color: rgb(238, 58, 89);
}
.title {
  letter-spacing: 8px;
  font-weight: 700;
  font-size: 45px;
}

.job {
  color: rgb(98, 176, 165);
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 3px;
}

.coverImg img {
  max-width: 100%;
}



.greeting {
  
  margin-top: 13vh;
  height: 90vh;
}
.desc {
  margin-top: 5vh;
  width: 75%;
}
.desc p {
  color: rgb(75, 75, 75);
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 100;
}

.button {
  margin-top: 10vh;
}
.button a {
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 500;
  background-color: rgba(75, 75, 75, 0);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(44, 110, 124);
  border: 3px solid rgb(44, 110, 124);
  border-radius: 50px;
}

.button a:hover {
  background-color: rgb(44, 110, 124);
  color: white;
}

.scroll_down {
  color: rgb(75, 75, 75);
  text-align: center;
  margin-bottom: 5vh;
}

.scroll_down h4 {
  animation: jumpInfinite 2s infinite;
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 10px;
  }

  100% {
    margin-top: 0;
  }
}

.webdesign {
  height: 100vh;
  
}

.background_website_design{
  height: 100vh;
  position: absolute;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("/assets/images/background.png");
}

.main_website_design{
  height: 100vh;
  position: absolute;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("/assets/images/website_element.png");
}

.corner_website_design{
  height: 100vh;
  position: absolute;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("/assets/images/website_corner.png");
}


.designText{
  height: 100vh;
  line-height: 100vh;
}
.designText p{
  line-height: normal;
  display: inline-block;
  color: rgb(75, 75, 75);
  justify-content: center;
  text-align: center;
  font-size: 32px;
  background-color: red;
  vertical-align: middle;
  padding: 20px;
  background:
    linear-gradient(to right, black 4px, transparent 4px) 0 0,
    linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0,
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%,
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.staticHTML {
  
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.overlay{
  height: 100vh;
  position: absolute;
}

.Pagebreaks1{
  height: 5vh;
  background-color: rgb(248, 250, 250);
}

.Pagebreaks2{
  height: 2vh;
  background-color: rgb(248, 250, 250);
}
@media (max-width: 768px) {
        .coverImg  {
          display: none;
        }
        .greeting{
          margin-top: 0px;
        }
        .title{
          margin-top: 0px;
        }
        .scroll_down{
          display: none;
        }
        .main_website_design{
          display: none;
        }
        .corner_website_design{
          display: none;
        }
        .designText{
          margin-left: 25px;
          margin-right: 25px;
          
        }
        .designText p{
          font-size: 25px;
        }
        .button a {
          text-decoration: none;
          font-size: 25px;
          letter-spacing: 1px;
          font-weight: 400;
          background-color:rgb(44, 110, 124);
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 15px;
          padding-right: 15px;
          color: rgb(255, 255, 255);
          /* border: 3px solid rgb(44, 110, 124); */
          border-radius: 50px;
        }
      }
